{% extends 'base.html' %}

{% block title %}Casillero{% endblock %}

{% block content %}
    <h2>Editar casillero {{ casillero.id }}</h2>
    <form action="{% url 'casillero_edit' id=casillero.id %}" method="POST">

        {% csrf_token %}
        
        <label for="email">Correo:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label for="password">Clave:</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <input type="submit" value="Enviar">
    </form>
{% endblock %}
